# Dependencies
node_modules/

# Environment
.env
/prisma/.env

# Logs & runtime
*.log
*.pid

# Build outputs
dist/
build/ 

# Prisma
/prisma/migrations/
!/prisma/migrations/migration_lock.toml  # Required for Prisma

# Editors

# OS files
.DS_Store

# IDE (JetBrains)
.idea/